@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: outfit-light;
    src: url(./assets/fonts/Outfit/static/Outfit-Light.ttf);
}

@font-face {
    font-family: outfit-ragular;
    src: url(./assets/fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: outfit-bold;
    src: url(./assets/fonts/Outfit/static/Outfit-Bold.ttf);
}

@font-face {
    font-family: prata;
    src: url(./assets/fonts/Prata/Prata-Regular.ttf);
}

@font-face {
    font-family: playfair;
    src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

a.active{
    border-bottom: 1px solid black;
}
html,
body {
    width: 100%;
    min-height: 100dvh;
}

@theme {
    --color-background: var(--color-white);
    --color-foreground: var(--color-zinc-900);
    --color-shadow: var(--color-zinc-400);
    --font-playfair: "playfair";


    --text-responsive-xsmall : max(8px, .7vw);
    --text-responsive-small : max(12px, 1vw);
    --text-responsive-medium : max(16px, 1.3vw);
    --text-responsive-large : max(20px, 1.6vw);
    --text-responsive-xlarge : max(24px, 2vw);

    /* Leading is 1.25 times of the font-size */
    --leading-responsive-xsmall: max(10px, .85vw);
    --leading-responsive-small: max(15px, 1.25vw);
    --leading-responsive-medium: max(20px, 1.65vw);
    --leading-responsive-large: max(25px, 2vw);
    --leading-responsive-xlarge: max(30px,2.5vw);

    --shadow-raised:
            2px 2px 10px var(--color-background),
            -2px -2px 10px var(--color-shadow);
}

@layer base {
    html,
    body {
        @apply bg-background text-foreground font-playfair;
    }
}
